# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/master/Tool/Loon/Plugin
# 引用地址 https://support.apple.com/en-us/HT210060
# QQ音乐去广告
# date = 2023-12-23 02:56:26

HOST, adstats.tencentmusic.com, REJECT
HOST, ad.tencentmusic.com, REJECT
HOST, adcdn.tencentmusic.com, REJECT
HOST, adcdn6.tencentmusic.com, REJECT
HOST, adexpo.tencentmusic.com, REJECT
HOST, adclick.tencentmusic.com, REJECT
HOST, otheve.beacon.qq.com, REJECT
HOST, mazu.m.qq.com, REJECT
HOST, monitor.music.qq.com, REJECT
HOST, stat.y.qq.com, REJECT
# 下面这条不可用REJECT-DROP，会显著延长开屏时间。
HOST, tmead.y.qq.com, REJECT
HOST, oth.str.mdt.qq.com, REJECT
HOST, h.trace.qq.com, REJECT
HOST, sdk.e.qq.com, REJECT
HOST, p.l.qq.com, REJECT
HOST, us.l.qq.com, REJECT
HOST, tangram.e.qq.com, REJECT
HOST-SUFFIX, imtmp.net, REJECT
